/**
 * Place your custom styles here.
 */
 .navbar-inverse {
    background-color: #47c45c;
    border-color: #118b2b;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: #0d7023;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: #054412;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    background-color: #054412;
}

.navbar-inverse .navbar-toggle {
    border-color: #054412;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #054412;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #065215;
}

.logo.navbar-btn img {
    height: 36px;
    width: 36px;
}

a {
    color: #118b2b;
}

a:hover, a:focus {
    color: #087411;
}